.container{
    text-align: center;
  margin-left: 7em;
    background-color: rgb(11, 96, 97);
    height: 500px;
    border: 2px solid crimson;
    border-radius: 10px;
    border-color: brown;
    width: 80%;
 
}
.input1{
    padding: 30px;
    margin: 20px;
    width: 50%;
    align-content: center;
    border: 2px solid crimson;
    border-radius: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}
.btn{
    padding: 10px;
    margin: 10px;
    width: 10%;
    align-content: center;
    border: 2px solid crimson;
    border-radius: 10px;
}
.btn:hover{
    background-color:cadetblue;
    padding: 10px;
    margin: 10px;
    width: 10%;
    align-content: center;
    border: 2px solid rgb(4, 237, 253);
    border-radius: 10px;
}
h1{
    font-size: 100px;
    text-align: center;
    border: 2px solid chartreuse;
    padding: 40px;
    border-radius: 10px;
    background-color: cadetblue;
    display: inline-block;
    color: rgb(246, 242, 242);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    


}
body{
    text-align: center;
    background-color: rgb(105, 7, 151), rgb(0, 238, 255);
}
p{
    font-size: 100px;
    text-align: center;
    border: 2px solid chartreuse;
    padding: 40px;
    border-radius: 10px;
    background-color: cadetblue;
    display: inline-block;
    color: rgb(246, 242, 242);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}